
<style>

  @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    max-width: 100%;
  
    width: 400px;
  
    margin: 0;
  
    padding: 0;
  
    color: white;
  
    background-color: #1a1d21;
  
    font-family: "Roboto Mono", monospace;
  }
  
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 398px;
    max-width: 100%;
    padding: 50px 5px 100px 5px;
    margin-bottom: 100px;
  }
  
  .box h1 {
    width: 100%;
    padding: 0 15px;
    margin: 0;
  }
  
  .box h2 {
    width: 100%;
    font-size: 24px;
    word-spacing: -5px;
    font-weight: 700;
    padding: 20px 0 0 0;
    margin: 0;
  }
  
  .field-container {
    position: relative;
    max-width: 100%;
    width: 400px;
    margin: 20px 0 40px 0;
  }
  
  .field {
    display: block;
    width: 100%;
    padding: 15px 10px 0;
    border: none;
    font-size: 20px;
    background: rgba(31, 34, 39, 0.8);
    color: #fff;
  }
  
  .field:focus {
    outline: 0;
    border: none;
  }
  
  .floating-label {
    position: absolute;
    pointer-events: none;
    top: 5px;
    left: 10px;
    font-size: 16px;
    opacity: 0;
    color: #fff;
    padding: 0 2px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    border: none;
  }
  
  .field:valid + .floating-label {
    opacity: 1;
    top: -10px;
    color: #fff;
    border: none;
    z-index: 1;
  }
  
  .field:focus + .floating-label {
    color: #03a9f4;
    border: none;
  }
  
  .field-underline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -5px;
    border: 1px solid #9e9e9e;
    z-index: -1;
    padding: 10px 10px 0;
    border-radius: 5px;
  }
  
  .field:focus + .floating-label + .field-underline {
    border-color: #03a9f4;
  }
  
  .button {
    font-size: 15px;
    font-weight: 700;
    background: transparent;
    border: 2px solid #0050fa;
    outline: none;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .button:hover {
    padding: 15px 20px;
    background: #0050fa;
  }
  
  .anotherLink {
    margin-top: 35px;
    display: block;
    text-align: center;
  }
  
  .anotherLink a {
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 1rem;
    text-align: center;
    display: inline;
  }
  
  .anotherLink a:hover {
    text-decoration: underline;
  }
  
  
  </style>
  
  
  <div class="box">
  
   <center><h1>Splitit</h1></center>
    <h2>Enter your New password</h2>
    <form class="box-1" action="/api/v1.0/user/update_new_password" method="post">
      <div class="field-container">
        <input type="hidden" name="token" value="<%=token%>"/>
        <input type="password" class="field" required name="password" placeholder="Password" />
        <label class="floating-label">Your New Password</label>
        <div class="field-underline"></div>
      </div>
      <div class="field-container">
        <input type="password" class="field" required name="confirm_password" placeholder="Confirm Password" />
        <label class="floating-label">Confirm Password</label>
        <div class="field-underline"></div>
      </div>
      <input class="button" type="submit" name="" value="Reset password" />
    </form>
 
  </div>
