<!-- 
<div class="row">
  <div class="rwd-form">
    <form action="/reset/<%= token %>" method="POST">
      <fieldset>
        <legend>Reset Password</legend>
        <div class="form-group">
          <label for="password">New Password</label>
          <input class="form-control" type="password" name="password" autocomplete="off" autofocus />
        </div>
        <div class="form-group">
          <label for="confirm">Confirm Password</label>
          <input class="form-control" type="password" name="confirm" autocomplete="off" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
	    </fieldset>
    </form>
	</div>
</div> -->

<style>

  @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    max-width: 100%;
  
    width: 400px;
  
    margin: 0;
  
    padding: 0;
  
    color: white;
  
    background-color: #1a1d21;
  
    font-family: "Roboto Mono", monospace;
  }
  
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 398px;
    max-width: 100%;
    padding: 50px 5px 100px 5px;
    margin-bottom: 100px;
  }
  
  .box h1 {
    width: 100%;
    padding: 0 15px;
    margin: 0;
  }
  
  .box h2 {
    width: 100%;
    font-size: 24px;
    word-spacing: -5px;
    font-weight: 700;
    padding: 20px 0 0 0;
    margin: 0;
  }
  
  .field-container {
    position: relative;
    max-width: 100%;
    width: 400px;
    margin: 20px 0 40px 0;
  }
  
  .field {
    display: block;
    width: 100%;
    padding: 15px 10px 0;
    border: none;
    font-size: 20px;
    background: rgba(31, 34, 39, 0.8);
    color: #fff;
  }
  
  .field:focus {
    outline: 0;
    border: none;
  }
  
  .floating-label {
    position: absolute;
    pointer-events: none;
    top: 5px;
    left: 10px;
    font-size: 16px;
    opacity: 0;
    color: #fff;
    padding: 0 2px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    border: none;
  }
  
  .field:valid + .floating-label {
    opacity: 1;
    top: -10px;
    color: #fff;
    border: none;
    z-index: 1;
  }
  
  .field:focus + .floating-label {
    color: #03a9f4;
    border: none;
  }
  
  .field-underline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -5px;
    border: 1px solid #9e9e9e;
    z-index: -1;
    padding: 10px 10px 0;
    border-radius: 5px;
  }
  
  .field:focus + .floating-label + .field-underline {
    border-color: #03a9f4;
  }
  
  .button {
    font-size: 15px;
    font-weight: 700;
    background: transparent;
    border: 2px solid #0050fa;
    outline: none;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .button:hover {
    padding: 15px 20px;
    background: #0050fa;
  }
  
  .anotherLink {
    margin-top: 35px;
    display: block;
    text-align: center;
  }
  
  .anotherLink a {
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 1rem;
    text-align: center;
    display: inline;
  }
  
  .anotherLink a:hover {
    text-decoration: underline;
  }
  
  
  </style>
  
  
  <div class="box">
  
    <h1>
  
      <a href="https://jsfiddle.net/" target="_blank">
  
        <svg width="92px" height="66px" viewBox="0 0 46 33">
  
          <img src="https://img.icons8.com/color/144/000000/jsfiddle.png" />
  
          <g stroke-width="1.2" fill="none" fill-rule="evenodd">
  
            <path d="M23.4888889,20.543316 C21.4404656,18.4187374 19.0750303,15.6666667 16.4832014,15.6666667 C13.8721947,15.6666667 11.7555556,17.6366138 11.7555556,20.0666667 C11.7555556,22.4967196 13.8721947,24.4666667 16.4832014,24.4666667 C18.8347252,24.4666667 19.9845474,23.0125628 20.6429148,22.312473" id="Oval-1" stroke-linecap="round"></path>
  
            <path d="M22.5111111,19.5900174 C24.5595344,21.7145959 26.9249697,24.4666667 29.5167986,24.4666667 C32.1278053,24.4666667 34.2444444,22.4967196 34.2444444,20.0666667 C34.2444444,17.6366138 32.1278053,15.6666667 29.5167986,15.6666667 C27.1652748,15.6666667 26.0154526,17.1207706 25.3570852,17.8208603" id="Oval-1-Copy" stroke-linecap="round"></path>
  
            <path d="M45,22.7331459 C45,19.1499462 42.7950446,16.079593 39.6628004,14.7835315 C39.6774469,14.5246474 39.7003932,14.2674038 39.7003932,14.0035978 C39.7003932,6.82243304 33.8412885,1 26.611593,1 C21.3985635,1 16.9102123,4.03409627 14.8051788,8.41527616 C13.7828502,7.62878013 12.503719,7.15547161 11.1134367,7.15547161 C7.77825654,7.15547161 5.07450503,9.84159999 5.07450503,13.1544315 C5.07450503,13.7760488 5.16938207,14.3779791 5.3477444,14.9418479 C2.74863428,16.4787471 1,19.2867709 1,22.5105187 C1,27.3287502 4.89630545,31.2367856 9.72803666,31.31094 L36.3341301,31.3109406 C41.1201312,31.3406346 45,27.4870665 45,22.7331459 L45,22.7331459 Z" stroke-linejoin="round"></path>
          </g>
        </svg>
      </a>
    </h1>
    <h2>Forgot your password? &nbsp;🤫</h2>
    <form class="box-1" action="index.html" method="post">
      <div class="field-container">
        <input type="password" class="field" required name="password" placeholder="Password" />
        <label class="floating-label">Your New Password</label>
        <div class="field-underline"></div>
      </div>
      <div class="field-container">
        <input type="password" class="field" required name="confirm_password" placeholder="Confirm Password" />
        <label class="floating-label">Confirm Password</label>
        <div class="field-underline"></div>
      </div>
     

      <input class="button" type="submit" name="" value="Reset password" />
    </form>
    <div class="anotherLink">
      <a href="https://codepen.io/mahmoudHamed/pen/vYLVrLM" target="_blank">Log in</a>
      <a href="https://codepen.io/mahmoudHamed/pen/YzwRXZg" target="_blank">Sign up</a>
    </div>
  </div>
